In [54]:
import pandas as pd
import numpy as np
import datetime as dt

### 1- Carga de csv y análisis básico

Notar que existe un error en la lectura del archivo, si analizamos el csv vamos a darnos cuenta que ese error es porque las primeras lineas del archivo no tienen un formato tabular, habrá que saltearlas.

In [55]:
con = pd.read_csv('datasets\Connections.csv', skiprows=3)
con.head(4)

,First Name,Last Name,URL,Email Address,Company,Position,Connected On
0,Julián,Di Berardino,https://www.linkedin.com/in/juli%C3%A1n-di-ber...,NaN,Raízen,Analista Sr Planificación de paradas de planta,23 Aug 2023
1,Fiorella,Carballo,https://www.linkedin.com/in/fiorella-carballo-...,NaN,Petrex S.A.,Compradora,23 Aug 2023
2,Juan Manuel,Scaturro,https://www.linkedin.com/in/juan-manuel-scatur...,NaN,GENNEIA,Comprador Sr,23 Aug 2023
3,Lucas,Gavilan,https://www.linkedin.com/in/lucas-gavilan-a5ab...,NaN,AESA (A-Evangelista SA),Administrador,23 Aug 2023

In [56]:
con.shape

(2247, 7)

In [57]:
con.columns

Index(['First Name', 'Last Name', 'URL', 'Email Address', 'Company',
       'Position', 'Connected On'],
      dtype='object')

In [58]:
con.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2247 entries, 0 to 2246
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   First Name     2241 non-null   object
 1   Last Name      2241 non-null   object
 2   URL            2241 non-null   object
 3   Email Address  74 non-null     object
 4   Company        2226 non-null   object
 5   Position       2228 non-null   object
 6   Connected On   2247 non-null   object
dtypes: object(7)
memory usage: 123.0+ KB

### 2- Arreglo en la presentación del nombre y apellido de la persona conectada

In [59]:
con['NOMBRE COMPLETO'] = con['First Name'] + " " + con['Last Name']
con.drop(columns=['First Name', 'Last Name'], inplace=True) # eliminamos las columnas que ya no nos serviran

In [60]:
con.columns

Index(['URL', 'Email Address', 'Company', 'Position', 'Connected On',
       'NOMBRE COMPLETO'],
      dtype='object')

Reordenamos columnas

In [61]:
nuevo_orden = ['NOMBRE COMPLETO','URL', 'Email Address', 'Company', 'Position', 'Connected On']
con = con.reindex(columns=nuevo_orden)
con

,NOMBRE COMPLETO,URL,Email Address,Company,Position,Connected On
0,Julián Di Berardino,https://www.linkedin.com/in/juli%C3%A1n-di-ber...,NaN,Raízen,Analista Sr Planificación de paradas de planta,23 Aug 2023
1,Fiorella Carballo,https://www.linkedin.com/in/fiorella-carballo-...,NaN,Petrex S.A.,Compradora,23 Aug 2023
2,Juan Manuel Scaturro,https://www.linkedin.com/in/juan-manuel-scatur...,NaN,GENNEIA,Comprador Sr,23 Aug 2023
3,Lucas Gavilan,https://www.linkedin.com/in/lucas-gavilan-a5ab...,NaN,AESA (A-Evangelista SA),Administrador,23 Aug 2023
4,Mariano Margenet,https://www.linkedin.com/in/mariano-margenet,NaN,GENNEIA S.A.,Ingeniero de proyecto,23 Aug 2023
...,...,...,...,...,...,...
2242,Juan Facundo Quallio,https://www.linkedin.com/in/juan-facundo-quall...,NaN,KindaLab,FullStack Developer in Kindalab,16 Nov 2018
2243,Leandro Marcangelo Ramini,https://www.linkedin.com/in/leandromarcangelo,NaN,Universidad Tecnologica Nacional,Profesor Universitario,02 Nov 2018
2244,Gianni Humberto Sparvoli,https://www.linkedin.com/in/gianni-humberto-sp...,NaN,EEST N° 6,Profesor,01 Nov 2018
2245,German Gozdziewski,https://www.linkedin.com/in/german-gozdziewski...,NaN,UTN frsn,jefe de laboratorio electronica,29 Oct 2018
2246,Romina Sejas,https://www.linkedin.com/in/romina-sejas-53aaa...,NaN,Estudio Zahir,Profesor de danza,01 May 2018

### 3- Eliminación de la columna 'Email Address'

Los Emails que figuran en la columna 'Email Address' corresponden a Emails personales, no son de mucha utilidad ni para el análisis ni para la tarea de ventas, ya que se buscará siempre conseguir un contacto mas profesional (Email empresarial).

In [62]:
con['Email Address'].value_counts()

Email Address
lautarofornaro@outlook.com    1
diegor_blanco@hotmail.com     1
lucfedleon@gmail.com          1
eliana.suarez.01@gmail.com    1
seba2233@hotmail.com.ar       1
                             ..
bcamandone@gmail.com          1
marcosaudisio@gmail.com       1
mariavalmandoz@hotmail.com    1
luislegui07@hotmail.com       1
nahirpr21@gmail.com           1
Name: count, Length: 74, dtype: int64

Dicho ésto, borraremos la columna 'Email Address'

In [63]:
con.drop(columns=['Email Address'], inplace=True)

In [64]:
con.head(4)

,NOMBRE COMPLETO,URL,Company,Position,Connected On
0,Julián Di Berardino,https://www.linkedin.com/in/juli%C3%A1n-di-ber...,Raízen,Analista Sr Planificación de paradas de planta,23 Aug 2023
1,Fiorella Carballo,https://www.linkedin.com/in/fiorella-carballo-...,Petrex S.A.,Compradora,23 Aug 2023
2,Juan Manuel Scaturro,https://www.linkedin.com/in/juan-manuel-scatur...,GENNEIA,Comprador Sr,23 Aug 2023
3,Lucas Gavilan,https://www.linkedin.com/in/lucas-gavilan-a5ab...,AESA (A-Evangelista SA),Administrador,23 Aug 2023

### 4- Análisis de la columna 'Company'

In [65]:
# Ponemos el nombre de la columna en mayúsculas y en español para mejor presentacion, ya que está cambiaremos todas las columnas
con.rename(columns={'Company':'EMPRESA','Position':'PUESTO', 'Connected On':'FECHA_CONEXION'}, inplace=True)
con.head(4)

,NOMBRE COMPLETO,URL,EMPRESA,PUESTO,FECHA_CONEXION
0,Julián Di Berardino,https://www.linkedin.com/in/juli%C3%A1n-di-ber...,Raízen,Analista Sr Planificación de paradas de planta,23 Aug 2023
1,Fiorella Carballo,https://www.linkedin.com/in/fiorella-carballo-...,Petrex S.A.,Compradora,23 Aug 2023
2,Juan Manuel Scaturro,https://www.linkedin.com/in/juan-manuel-scatur...,GENNEIA,Comprador Sr,23 Aug 2023
3,Lucas Gavilan,https://www.linkedin.com/in/lucas-gavilan-a5ab...,AESA (A-Evangelista SA),Administrador,23 Aug 2023